/** HamyS */
$title-color:#2B271C;
$footer-color:#BBBBBB;
$card-color:#DDD;
$portfolio-title:white;
$facebook:#3B5998;
$linkedin:#0077B5;
$github:#000;
$codecamp:#006400;
$default-height:100vh;
$home-bg:url("../images/home.jpg");
$about-bg:url("../images/about.jpg");
$portfolio-bg:url("../images/portfolio.jpg");
$contact-bg:url("../images/contact.jpg");
#home {
  flex-shrink: 0;
  background :$home-bg;
  opacity: 0.9;
  background-size:cover;
  height:$default-height;
}
#about {
  overflow:auto;
  background :$about-bg;
  background-size:cover;
  height:$default-height;
  color:#000;
  font-size:120%;
img {
  width:60%;
  border : {
    width:2px;
    style:solid;
    radius:5%;
    color:black;
  }
}
  h3 {
    text-shadow : 1px 1px #fff;
    color:$title-color;
  }
  span {
    font-weight:bold;
    font-style:oblique;
  }
}
#portfolio {
  overflow:auto;
  flex-shrink: 0;
  background:$portfolio-bg;
  background-size:cover;
  height:$default-height;
h2 {
  font: {
    style:oblique;
    weight:400;
  }
  color:$portfolio-title;
}
    a:hover {
    font-size:110%;
    text-decoration:none;
  }
}
#contact {
  flex-shrink: 0;
  background:$contact-bg;
  background-size:cover;
  height:$default-height;

  input {
    width:100%;
    background-color:#DBDBDB;
    border : {
      top:0;
      right:0;
      left:0;
      bottom:solid;
    }
  }
  textarea {
    @extend input;
    resize:none;
  }
  a {
    font-size:300%;
    color:#DBDBDB;
    :hover {
    font-size:125%;
  }
  }
  h3 {
    color:#DBDBDB;
  }
}
.site-title {
  text-shadow : 2px 2px #fff;
  color: $title-color;
  font : {
    size:600%;
  }
}
.site-subtitle {
    color:white;
  }
.facebook:hover {
  color:$facebook !important;
}
.linkedin:hover {
  color:$linkedin !important;
}
.github:hover {
  color:black !important;
}
.codecamp:hover {
  color:$codecamp !important;
}

.card {
  border : {
    style:solid;
    width:2px;
    color:black;
    radius:3%;
  }
  img {
    border-bottom:solid;
    border-width:1px;
    border-color:gray;
  }
  background-color:$card-color;
  height:18rem;
  width: 20rem;
  text-align:center;
  color:#233F57;
}
footer {
  background-color:$footer-color;
  padding-top:10px;
  font-size:120%;
  a:hover {
    text-decoration:none;
    font-weight:bold;
  }
}
/** HamyS */

/** Random Quote Machine */
.rqm-body {
  background-color: lighten(#007BFF,10%);
}
.rqm-container {
  height: 92.5vh;
}
.quote-container {
  border-radius: 10px;
  max-width:60%;
  background-color:#FFF;
}
/** Random Quote Machine */
